<div class="flex flex-col justify-around items-center w-full h-screen md:items-center">
    <p></p>
    <div class="w-11/12 md:w-full md:max-w-lg flex flex-col items-center">
        <div class="flex items-center">
            <span class="mr-[-16px] mt-4 flex size-48 items-center justify-center overflow-hidden rounded-full border border-outline bg-surface-alt text-on-surface/50 dark:border-outline-dark dark:bg-surface-dark-alt dark:text-on-surface-dark/50">
                @if (userData.image !== '') {
                    <img [src]="userData.image" class="w-full h-full object-cover rounded-full" />
                } @else {
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="currentColor"  class="w-full h-full mt-3">
                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"/>
                    </svg>
                }
            </span>
            <span class="mr-[32px] mt-4 flex size-48 items-center justify-center overflow-hidden rounded-full border border-outline bg-surface-alt text-on-surface/50 dark:border-outline-dark dark:bg-surface-dark-alt dark:text-on-surface-dark/50">
                @if (matchData.image !== '') {
                    <img [src]="matchData.image" class="w-full h-full object-cover rounded-full" />
                } @else {
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="currentColor"  class="w-full h-full mt-3">
                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"/>
                    </svg>
                }
            </span>
        </div>
        <div class="w-full flex flex-col text-center mt-1">
            <h2 class="text-3xl text-on-surface m-2 ms-0">
                {{ userData.name + ' & ' + matchData.name }}
            </h2>
            <p class="text-on-surface/50">
                Find each other and discuss the following prompt:
            </p>
        </div>
    </div>

    <div class="p-4 w-full max-w-11/12 md:max-w-lg bg-surface-alt text-on-surface text-center border border-on-surface/25 rounded-radius">
        <p class="text-2xl font-medium mb-2">Icebreaker</p>
        <p class="font-light text-on-surface/90">{{ matchData.prompt }}</p>
    </div>
    <p></p>
</div>
