<div class="flex flex-col justify-around md:justify-center items-center w-full h-screen md:items-center">
    @if (step === 1) {
        <div class="w-11/12 md:w-full flex flex-col items-center md:max-w-lg">
            <div class="w-full flex flex-col">
                <h2 class="text-3xl text-left text-on-surface m-2 ms-0">
                    PolarPair
                </h2>
                <p class="text-on-surface/50 text-left">
                    Break the Ice, Build the Connection
                </p>
            </div>

            <div class="w-full flex flex-col">
                <div class="flex gap-3 text-on-surface mt-4">
                    <input id="codeInput" type="text" #codeInput
                        class="w-full rounded-radius bg-surface-alt p-4 text-sm focus-visible:outline-1 focus-visible:outline-on-surface/25 disabled:cursor-not-allowed disabled:opacity-75"
                        name="code" placeholder="Room Code" autocomplete="code" />
                    <button (click)="attemptCompleteStep()" class="cursor-pointer shadow-[0_4px_14px_0_rgb(0,118,255,39%)] hover:shadow-[0_6px_20px_rgba(0,118,255,23%)] bg-primary rounded-radius w-full max-w-[3.25rem] flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-on-primary">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                </div>

                <p class="text-on-surface-light text-sm font-light mt-8 text-center">Want to host a room?&nbsp;
                    <a [routerLink]="['/auth']" routerLinkActive="router-link-active"  class="text-primary font-medium cursor-pointer hover:underline"> 
                        Login
                    </a>
                </p>

            </div>
        </div>
    }

    @if (step === 2) {
        <form [formGroup]="userForm" class="w-11/12 md:w-full md:max-w-lg flex flex-col items-center">
            <div class="w-full flex flex-col text-center">
                <h2 class="text-3xl text-on-surface m-2 ms-0">
                    Your Information
                </h2>
                <p class="text-on-surface/50">
                    All information is deleted upon room closure.
                </p>
            </div>
            
            <input #fileInput type="file" accept="image/*" class="hidden" (change)="onFileSelected($event)" />
            <span (click)="triggerFileInput()" class="mt-4 cursor-pointer flex size-48 items-center justify-center overflow-hidden rounded-full border border-outline bg-surface-alt text-on-surface/50 dark:border-outline-dark dark:bg-surface-dark-alt dark:text-on-surface-dark/50">
                @if (imageSrc) {
                    <img [src]="imageSrc" class="w-full h-full object-cover rounded-full" />
                } @else {
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="currentColor"  class="w-full h-full mt-3">
                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"/>
                    </svg>
                }
                
            </span>
            <div class="w-full flex flex-col gap-3 text-on-surface mt-6">
                <input id="name" type="text" formControlName="name"
                    class="w-full rounded-radius bg-surface-alt p-4 text-sm focus-visible:outline-1 focus-visible:outline-on-surface/25 disabled:cursor-not-allowed disabled:opacity-75"
                    name="name" placeholder="Enter your name" autocomplete="name" />
                
                <div class="flex gap-3 text-on-surface">
                    <input (keydown)="onInterestInputKeyDown($event)" id="interestsInput" type="text" #interestInput
                        class="w-full rounded-radius bg-surface-alt p-4 text-sm focus-visible:outline-1 focus-visible:outline-on-surface/25 disabled:cursor-not-allowed disabled:opacity-75"
                        name="interests" placeholder="Enter your interests" 
                    />
                    <button (click)="addInterest()" class="cursor-pointer shadow-[0_4px_14px_0_rgb(0,118,255,39%)] hover:shadow-[0_6px_20px_rgba(0,118,255,23%)] bg-primary rounded-radius w-full max-w-[3.25rem] flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-on-primary">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                          
                    </button>
                </div>
                
                    
                <div class="flex gap-2 flex-wrap" id="tags-list">
                    @for (tag of tags; track tag) {
                        <div class="inline-flex items-center gap-x-0.5 rounded-radius bg-surface-alt p-2 text-sm font-medium text-on-surface-light">
                            <span>
                                {{ tag }}
                            </span>
                            <button (click)="removeTag(tag)" class="ml-2">
                                <svg class="cursor-pointer h-4 w-4 text-on-surface" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/></svg>
                            </button>
                        </div>
                    }

                </div>
            </div>    
        </form>
        
        <div class="w-11/12 md:w-full flex flex-col items-center md:max-w-lg md:mt-4">
            <!-- <p class="text-on-surface-light text-sm font-light mt-4 text-center">Disclaimer: Your information will be erased once the room has ended.</p> -->

            <button (click)="attemptCompleteStep()" type="button"
                class="shadow-[0_4px_14px_0_rgb(0,118,255,39%)] hover:shadow-[0_6px_20px_rgba(0,118,255,23%)]  cursor-pointer w-full mt-4 whitespace-nowrap rounded-radius bg-primary px-4 py-4 font-bold tracking-wide text-on-primary transition duration-150 hover:opacity-85 text-center focus-visible:outline-1 focus-visible:outline-on-surface/25 active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed">
                Continue
            </button>
        </div>
    }

    @if (step === 3) {
        <div class="w-full md:w-full flex flex-col items-center md:max-w-lg text-center">
            <div class="w-full flex flex-col">
                <h2 class="text-3xl text-on-surface m-2 ms-0">
                    You're in!
                </h2>
                <p class="text-on-surface/50">
                    Please wait for the organizer to start the round.
                </p>
            </div>
        </div>
    }
</div>