<div class="flex flex-col items-center w-full h-screen md:items-center mt-8">
    <div class="w-11/12 md:w-full md:max-w-md flex flex-col items-center">
        <div class="w-full flex flex-col text-center mt-1 justify-center items-center">
            <h2 class="text-3xl text-on-surface m-2 ms-0">
                {{ roomName }} Room
            </h2>
            <h3 class="text-2xl text-on-surface/75">
                Code: {{ this.code }}
            </h3>
            
            @if (participants && participants.length > 0) {
                <p class="text-on-surface/75 mt-6 text-lg mb-2">
                    Participants
                </p>

                @for (participant of participants; track participant) {
                    <div class="max-w-md w-full flex justify-between items-center border-t-1 border-on-surface/10 p-2 text-on-surface/75">
                        <div class="flex space-x-3 items-center justify-left text-left ">
                            <span class="flex size-10 items-center justify-center overflow-hidden rounded-full border border-outline bg-surface-alt text-on-surface/50 dark:border-outline-dark dark:bg-surface-dark-alt dark:text-on-surface-dark/50">
                                @if (participant.image) {
                                    <img [src]="participant.image" class="w-full h-full object-cover rounded-full" />
                                } @else {
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="currentColor"  class="w-full h-full mt-3">
                                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"/>
                                    </svg>
                                }
                                
                            </span>
                            <p class="text-on-surface/75 text-lg">{{ participant.name }}</p>
                        </div>
                        
                        <svg (click)="removeParticipant(participant)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 cursor-pointer hover:text-red-500 transition duration-150">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM4 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 10.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                        </svg>
                          
                    </div>
                }
            } @else {
                <p class="text-on-surface/75 mt-6 text-lg mb-2">
                    There are no participants in this room.
                </p>
            }
            

            <button (click)="startRound()" type="button"
                class="shadow-[0_4px_14px_0_rgb(0,118,255,39%)] hover:shadow-[0_6px_20px_rgba(0,118,255,23%)]  cursor-pointer w-full mt-4 whitespace-nowrap rounded-radius bg-primary px-4 py-4 font-bold tracking-wide text-on-primary transition duration-150 hover:opacity-85 text-center focus-visible:outline-1 focus-visible:outline-on-surface/25 active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed">
                Start Round
            </button>

            <p (click)="closeRoom()" class="text-danger font-medium mt-4 cursor-pointer">Close Room</p>
        </div>
    </div>
</div>
