<div class="flex flex-col justify-center items-center w-full h-screen">

    <p *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</p>
    
    <div class="w-11/12 md:w-full flex flex-col items-center">
      <h2 class="text-3xl text-left text-on-surface m-2 ms-0">Control Panel</h2>
  
      <div *ngIf="rooms.length > 0; else noRooms">
        <ul class="w-full">
          <li *ngFor="let room of rooms" class="flex justify-between items-center p-4 border-b">
            <span class="text-blue-600">{{ room.id }}</span> 
            <button (click)="deleteRoom(room.id)" class="text-red-500 hover:underline cursor-pointer">
              Delete
            </button>
          </li>
        </ul>
      </div>
  
      <ng-template #noRooms>
        <p class="text-white">No rooms owned.</p>
        
      </ng-template>
    </div>
  </div>
  