<div class="flex flex-col justify-center md:justify-center items-center w-full h-screen md:items-center">

    <div class="w-11/12 md:w-full md:max-w-lg flex flex-col items-center">
        <div class="w-full flex flex-col">
            <h2 class="text-3xl text-left text-on-surface m-2 ms-0">
                Room Registration
            </h2>
            <p class="text-on-surface/50 text-left">
                Cost depends on usage.
                <span class="text-primary/75 hover:underline cursor-pointer">
                    Learn More
                </span>
            </p>
        </div>

        <form class="w-full flex flex-col gap-3 text-on-surface mt-6" (ngSubmit)="createRoom()">
            <input id="roomNameInput" type="text"
                [(ngModel)]="roomName"
                name="roomName" 
                class="w-full rounded-radius bg-surface-alt p-4 text-sm focus-visible:outline-1 focus-visible:outline-on-surface/25 disabled:cursor-not-allowed disabled:opacity-75"
                placeholder="Enter a room name" required />

            <button type="submit"
                [disabled]="!roomName"
                class="shadow-[0_4px_14px_0_rgb(0,118,255,39%)] hover:shadow-[0_6px_20px_rgba(0,118,255,23%)] cursor-pointer w-full mt-4 whitespace-nowrap rounded-radius bg-primary px-4 py-3 font-bold tracking-wide text-on-primary transition duration-150 hover:opacity-85 text-center focus-visible:outline-1 focus-visible:outline-on-surface/25 active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed">
                Continue
            </button>
        </form>
    </div>

    <p class="text-on-surface/50 text-left mt-4">You are logged in.
        <span (click)="logout()" class="text-primary/75 hover:underline cursor-pointer">
            Logout
        </span>
    </p>
</div>
